a {
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.modals {
  z-index: 3000 !important;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
